name: Jekyll site CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Build Jekyll site
      uses: actions/jekyll-build-pages@v1
      with:
        source: ./
        destination: ./_site
